<div class="row">
    <div class="col-12 col-sm-6">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Ordernumber</th>
                <td>{{adminEditItem.orderId}}</td>
            </tr>
            <tr>
                <th>Orderdatum</th>
                <td>{{adminEditItem.createdAt}}</td>
            </tr>
            <tr>
                <th>Orderstatus</th>
                <td>{{adminEditItem.orderState.name[]}}</td>
            </tr>
            {{#adminEditItem.discount}}
            <tr>
                <th>
                    %SHOP_DISCOUNT_CODE%
                </th>
                <td>
                    {{adminEditItem.discount.code}}
                </td>
            </tr>
            {{/adminEditItem.discount}}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-6">
        <table class="table table-bordered">
            <tbody>
            {{#adminEditItem.orderMessage}}
                <tr>
                    <th>Customer note</th>
                    <td>{{adminEditItem.orderMessage}}</td>
                </tr>
            {{/adminEditItem.orderMessage}}
            <tr>
                <th>Property</th>
                <td>{{adminEditItem.property}}</td>
            </tr>
            <tr>
                <th>EntryUrl</th>
                <td>{{adminEditItem.entryUrl}}</td>
            </tr>
            <tr>
                <th>IP-address</th>
                <td>{{adminEditItem.ipAddress}}</td>
            </tr>
            {{#adminEditItem.affiliateId}}
            <tr>
                <th>Affiliate</th>
                <td>{{affiliateName}}</td>
            </tr>
            {{/adminEditItem.affiliateId}}
            <tr>
                <td>
                    {{#shippingLabelLink}}
                        {{{shippingLabelLink}}}
                    {{/shippingLabelLink}}
                </td>
                <td>
                    {{adminEditItem.shippingType.barcode}}
                    {{{barcodeForm}}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <table class="table table-bordered">
            <tr>
                <th colspan="2">Invoice</th>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{adminEditItem.shopper.user.firstName}}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>
                    {{#adminEditItem.shopper.user.middleName}}
                        {{adminEditItem.shopper.user.middleName}}
                    {{/adminEditItem.shopper.user.middleName}}
                    {{adminEditItem.shopper.user.lastName}}
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{adminEditItem.shopper.user.email}}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{adminEditItem.shopper.user.street}}</td>
            </tr>
            <tr>
                <th>Housenumber</th>
                <td>{{adminEditItem.shopper.user.houseNumber}}</td>
            </tr>
            <tr>
                <th>Zip-code</th>
                <td>{{adminEditItem.shopper.user.zipCode}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{adminEditItem.shopper.user.city}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{adminEditItem.shopper.user.countryName}}</td>
            </tr>
            <tr>
                <th>Phone-number</th>
                <td>{{adminEditItem.shopper.user.phoneNumber}}</td>
            </tr>
            <tr>
                <th>Waar ken je ons van?</th>
                <td>{{adminEditItem.refferer}}</td>
            </tr>
        </table>
    </div>
    <div class="col-12 col-sm-6">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th colspan="2">Ship To</th>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{adminEditItem.shiptoAddress.firstName}}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>
                    {{#adminEditItem.shiptoAddress.middleName}}
                    {{adminEditItem.shiptoAddress.middleName}}
                    {{/adminEditItem.shiptoAddress.middleName}}
                    {{adminEditItem.shiptoAddress.lastName}}
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{adminEditItem.shiptoAddress.email}}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{adminEditItem.shiptoAddress.street}}</td>
            </tr>
            <tr>
                <th>Housenumber</th>
                <td>{{adminEditItem.shiptoAddress.houseNumber}}</td>
            </tr>
            <tr>
                <th>Zip-code</th>
                <td>{{adminEditItem.shiptoAddress.zipCode}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{adminEditItem.shiptoAddress.city}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{adminEditItem.shiptoAddress.countryName}}</td>
            </tr>
            <tr>
                <th>Phone-number</th>
                <td>{{adminEditItem.shiptoAddress.phoneNumber}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Aantal</th>
                <th>Naam</th>
                <th>Art. nr.</th>
                <th>Productprijs (excl.)</th>
                <th>Productprijs (incl.)</th>
                <th class="text-right">Totaal</th>
            </tr>
            {{#adminEditItem.items.products}}
            <tr valign="top">
                <td>{{quantity}}</td>
                <td><a href="{{slug}}" class="openmodal">{{name[]}}</a></td>
                <td>
                    {{genderDisplay.name[]}} {{variation}}
                    {{#manufacturerDisplay.name[]}}
                        <br /><small>{{manufacturerDisplay.name[]}}</small>
                    {{/manufacturerDisplay.name[]}}
                    {{#packingName}}
                        <br /><small>%SHOP_PACKING_TYPE% : {{packingName}}</small>
                    {{/packingName}}
                </td>
                <td>
                    {{#price_discountDisplay}}
                        {{{adminEditItem.currency}}}&nbsp;{{price_discountDisplay}}<br />
                        <small>
                            <s>
                                {{{adminEditItem.currency}}}&nbsp;{{priceDisplay}}
                            </s>
                        </small>
                    {{/price_discountDisplay}}
                    {{^price_discountDisplay}}
                        {{{adminEditItem.currency}}}&nbsp;{{priceDisplay}}
                    {{/price_discountDisplay}}

                </td>
                <td>
                    {{#price_discountSaleDisplay}}
                    {{{adminEditItem.currency}}}&nbsp;{{price_discountSaleDisplay}}<br />
                        <small>
                            <s>
                                {{{adminEditItem.currency}}}&nbsp;{{price_saleDisplay}}
                            </s>
                        </small>
                    {{/price_discountSaleDisplay}}
                    {{^price_discountSaleDisplay}}
                        {{{adminEditItem.currency}}}&nbsp;{{price_saleDisplay}}
                    {{/price_discountSaleDisplay}}
                </td>
                <td class="text-right">
                    {{#subTotalDiscountSaleDisplay}}
                    {{{adminEditItem.currency}}}&nbsp;{{subTotalDiscountSaleDisplay}}<br/>
                        <small>
                            <s>
                                {{{adminEditItem.currency}}}&nbsp;{{subTotalSaleDisplay}}
                            </s>
                        </small>
                    {{/subTotalDiscountSaleDisplay}}
                    {{^subTotalDiscountSaleDisplay}}
                        {{{adminEditItem.currency}}}&nbsp;{{subTotalSaleDisplay}}
                    {{/subTotalDiscountSaleDisplay}}
                </td>
            </tr>
            {{/adminEditItem.items.products}}
            <tr>
                <th colspan="5" class="text-right">Subtotaal</th>
                <td class="text-right">
                    {{{adminEditItem.currency}}}&nbsp;{{adminEditItem.items.subTotalDisplay}}
                </td>
            </tr>
            <tr>
                <th class="text-right" colspan="5">VAT</th>
                <td class="text-right">
                    {{{adminEditItem.currency}}}&nbsp;{{adminEditItem.items.vatDisplay}}
                </td>
            </tr>
            <tr>
                <th class="text-right" colspan="5">Verzendkosten</th>
                <td class="text-right">
                    {{{adminEditItem.currency}}}&nbsp;{{adminEditItem.shippingAmountDisplay}}
                </td>
            </tr>
            <tr>
                <th class="text-right" colspan="5">
                    Verzendbelasting
                </th>
                <td class="text-right">
                    {{{adminEditItem.currency}}}&nbsp;{{adminEditItem.shippingTaxDisplay}}
                </td>
            </tr>
            {{#adminEditItem.totalDiscountDisplay}}
                <tr>
                    <th class="text-right" colspan="5">
                        %SHOP_DISCOUNT%
                    </th>
                    <td class="text-right">
                        {{{SHOP_CURRENCY_BASE}}} -{{adminEditItem.totalDiscountDisplay}}
                    </td>
                </tr>
            {{/adminEditItem.totalDiscountDisplay}}
            <tr>
                <th class="text-right" colspan="5">
                    Totaal
                </th>
                <th class="text-right">
                    {{{adminEditItem.currency}}}&nbsp;{{adminEditItem.totalDisplay}}
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
